footer{

	float: left;
	width: 100%;
}
body{
	background-color: #ffff99;
}
@media screen and (max-width: 1920px){
	#navBar ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	#navBar li{
		float: left;
	}
	#navBar a{
		display: block;
		color: white;
		text-align: center;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-decoration: none;
	}
	.abox{
		width: 60%;
		float: left;
	}
	.product {

		float: right;
	}
	aside{
		width: 400px;
		padding-left: 10px;
		background-color: lightgray;
		position: fixed;
		right: 0;
		top: 350px;
	}
	#cookiesBox{
		width: 300px;
		height: 100px;
		padding: 10px;
		border: 1px solid red;
		position: fixed;
		right:0px;
		bottom: 0px;
		z-index: 1;
		background-color:#FA0;
		opacity: 0.5;
		color: #FFF;
	}
}

@media screen and (max-width: 1100px){
	.product {
		float: left;
	}
	body{
		background-color:lightgreen;
	}
}

@media (max-width:600px){
	.product {
		display:block;
		margin: auto;	
	}
	body{
		background-color: lightblue;
	}
}